* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(218, 28%, 13%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CABECALHO */

header {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 35px 20px;
}

#btn-mobile {
    display: none;
}

.img-logo {
    width: 140px;
}

.ul-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.li-header {
    margin: 0px 25px;
    list-style-type: none;
    opacity: 90%;
    font-family: Raleway;
    font-weight: 400;
    font-size: 0.9rem;
}

.li-header a {
    color: #ffffff;
}

.li-header a:hover {
    color: hsl(176, 68%, 64%);
}

header a {
    text-decoration: none;
    cursor: pointer;
}

/* SESSAO INICIAL */

.sessao-inicial {
    background-image: url(/images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: hsl(217, 28%, 15%);
    height: 60rem;
    padding-top: 0.8rem;
}

.div-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-centralizada {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-inicial {
    width: 630px;
}

.div-titulo {
    text-align: center;
    max-width: 780px;
}

.div-paragrafo {
    text-align: center;
    max-width: 580px;
}

.h1-inicial {
    color: white;
    font-size: 2rem;
    padding: 30px;
    font-family: Raleway;
    letter-spacing: 1.5px;
    font-weight: 700;
    line-height: 40px
}

.p-inicial {
    color: #ffffff;
    opacity: 90%;
    font-size: 1.06rem;
    margin-bottom: 30px;
    font-family: Raleway;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.8px;
}

.link-inicial {
    cursor: pointer;
    text-decoration: none;
}

.link-inicial button {
    width: 220px;
    height: 45px;
    border-radius: 25px;
    border: none;
    color: white;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    transition: 0.4s;
}

.link-inicial button:hover {
    transform: scale(1.04);
}

/* SESSAO INFORMACOES */
.sessao-inf {
    height: 50rem;
}

.div-pai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-inf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 99%;
}

.block-inf {
    width: 440px;
    margin: 50px 70px;
    padding: 30px;
}

.h1-inf {
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    font-family: Raleway;
    font-weight: 700;
}

.p-inf {
    text-align: center;
    opacity: 90%;
    font-size: 1.01rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    margin-top: 15px;
}

/* SESSAO WORKS */
.sessao-works {
    height: 50rem;
}

.div-pai-works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-works {
    width: 470px;
    padding: 25px;
}

.div-img-works {
    margin-right: 45px;
    margin-top: 90px;
}

.h1-works {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 30px;
}

.p-works {
    color: #ffffff;
    opacity: 90%;
    margin-top: 25px;
    margin-bottom: 18px;
}

.div-link-works {
    display: flex;
    margin-top: 25px;
}

.link-works {
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    border-radius: 2px;
}

/* SESSAO FEEDBACKS */

.sessao-feedbacks {
    height: 35rem;
}

.img-aspas {
    position: absolute;
    right: 340px;
}

.div-feedbacks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div-card {
    max-width: 340px;
    height: 160px;
    background-color: hsl(219, 30%, 18%);
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 45px 25px 20px 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(128, 153, 223, 0.075);
    flex: 0 0 100%;
}

.img-perfil {
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.div-perfil {
    display: inline-block;
    margin-left: 5px;
}

.p-feedbacks {
    color: #ffffff;
    font-size: 0.95rem;
}

.name-perfil {
    color: #ffffff;
    font-size: 0.7rem;
    font-family: Raleway;
    font-weight: 900;
    margin-top: 25px;
    letter-spacing: 1.5px;
}

.p-perfil {
    color: #ffffff;
    opacity: 60%;
    margin-top: 4px;
    font-size: 0.5rem;
    font-weight: 400;
}

/* SESSAO SUPORTE */

.card-suporte {
    max-width: 720px;
    text-align: center;
    padding: 45px 85px;
    background-color: #1c2431;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    position: absolute;
}

.h1-suporte {
    color: white;
    font-size: 28px;
    font-family: Raleway;
}

.p-suporte {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    opacity: 80%;
    max-width: 600px;
}

.input-suporte {
    padding: 12px;
    border-radius: 20px;
    margin-top: 10px;
    width: 380px;
    height: 15px;
    border: none;
}

.input-suporte, ::placeholder {
    color: rgba(82, 80, 83, 0.514);
}

.link-suporte {
    padding: 12px;
    border-radius: 20px;
    background: hsl(198, 60%, 50%);
    border: none;
    color: white;
    width: 160px;
    font-size: 11px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.4s;
}

.link-suporte:hover {
    transform: scale(1.04);
}


/* FOOTER */
footer {
    background-color: hsl(216, 53%, 9%);
    padding: 150px 0px 20px 0px;
}

.div-logo-footer {
    margin-right: 120px;
}

.div-foooter {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 25px;
}

.div-flex {
    display: flex;
}

.img-localizacao {
    width: 11px;
    height: 15px;
    margin-right: 25px;
    opacity: 80%;
}

.p-localizacao {
    max-width: 250px;
    color: white;
    font-size: 12px;
    opacity: 80%;
}

.div-contato {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.img-contato {
    width: 15px;
    height: 15px;
    opacity: 80%;
}

.p-contato {
    color: #ffffff;
    margin-left: 25px;
    opacity: 80%;
    font-size: 12px;
}

.ul-links {
    list-style-type: none;
    margin: 0px 25px;
}

.li-link {
    margin: 15px;
}

.li-link:first-child {
    margin: 0px 15px;
}

.a-li {
    text-decoration: none;
    color: #ffffff;
    opacity: 80%;
    font-size: 14px;
}

.icons-footer {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    opacity: 80%;
}

/* MEDIA QUERIES */
@media (max-width: 1320px) {
    .sessao-feedbacks {
        height: 55rem;
    }
}

@media (max-width: 1292px) {
    .sessao-inf {
        height: 95rem;
        ;
    }

    .div-img-works {
        margin-right: 0px;
    }
}

@media (max-width: 1200px) {
    .div-logo-footer {
        display: none;
    }
}

@media (max-width: 1135px) {
    .sessao-works {
        margin: 80px 0 250px 0;
    }
}

@media (max-width: 880px) {
    .sessao-feedbacks {
        height: 70rem;
        margin: 0 45px;
    }

    .div-localizacao {
        display: none;
    }
}

@media (max-width: 766px) {
    .input-suporte {
        margin-bottom: 20px;
    }

    .link-suporte {
        margin-left: 0;
    }

    .card-suporte {
        max-width: 420px;
    }
}

@media (max-width: 655px) {
    .h1-works {
        font-size: 1.4rem;
    }

    .text-works {
        width: 360px;
    }

    .div-img-works {
        width: 360px;
    }

    .img-inicial {
        width: 360px;
    }

    .h1-inicial {
        font-size: 1.7rem;
    }

    .p-inicial {
        width: 365px;
        font-size: 1rem;
    }

    .sessao-feedbacks {
        margin-top: -150px;
    }

    .div-links {
        display: none;
    }
}

@media (max-width: 600px) {
    .card-suporte {
        max-width: 320px;
    }

    .input-suporte {
        max-width: 300px;
    }

}

@media (max-width: 505px) {
    #btn-mobile {
        display: flex;
        background: hsl(217, 28%, 15%);
        border: none;
        color: white;
        font-size: 25px;
    }

    .ul-header {
        position: absolute;
        width: 100%;
        margin-top: 25px;
        right: 0;
        visibility: hidden;
    }

    #nav.active .ul-header {
        visibility: visible;
    }

    .img-logo {
        margin-right: 200px;
    }

    .input-suporte {
        max-width: 185px;
    }

    .card-suporte {
        max-width: 210px;
        margin-bottom: 130px;
    }

    .link-suporte {
        width: 140px;
    }

    .sessao-inf {
        margin-bottom: -80px;
    }

    .sessao-works {
        height: 41rem;
    }

    .sessao-feedbacks {
        margin-bottom: 50px;
    }

    .sessao-inicial {
        height: 42rem;
    }
}

@media (max-width: 470px) {
    .sessao-inf {
        height: 100rem;
    }

    .img-logo {
        width: 120px;
    }


    .input-suporte {
        width: 300px;
    }
}

@media (max-width: 430px) {
    .sessao-inf {
        height: 110rem;
    }
}

@media (max-width: 380px) {
    .sessao-inf {
        height: 115rem;
    }
}

@media (max-width: 370px) {
    .sessao-inf {
        height: 120rem;
    }
}

@media (max-width: 350px) {
    .sessao-inf {
        height: 125rem;
    }
}

/* JAVASCRIPT */

/* Animação do scroll */

.js .js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: 0.7s;
}

.js .js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.7s;
}